.list-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .form-container {
    display: flex;
  }
  .form-control-type {
    width: 40%;
    margin-right: 20px;
  }

  .form-control-rating {
    width: 30%;
    margin-right: 20px;
  }

  .form-control-locale {
    width: 30%;
  }
}
